<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>linkout主站</title>
</head>
<body>
<h3><%= message %></h3>
<form method="post" action="/verify">
    <div>
        验证数据：<input type="text" name="content" id="message">
    </div>
</form>
</body>
</html>
